In [20]:
import pandas as pd 
data = pd.read_csv('DataSet/email.csv')

In [21]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
data.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [23]:
dummies = pd.get_dummies(data['Category'])

In [24]:
data = pd.concat([data,dummies],axis=1)

In [26]:
data.head()

  Category                                            Message  ham  spam
0      ham  Go until jurong point, crazy.. Available only ...    1     0
1      ham                      Ok lar... Joking wif u oni...    1     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...    0     1
3      ham  U dun say so early hor... U c already then say...    1     0
4      ham  Nah I don't think he goes to usf, he lives aro...    1     0

In [27]:
data.drop(['Category','ham'],axis=1,inplace=True)

In [28]:
data

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [78]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data.Message,data.spam,test_size=.2)

In [79]:
len(X_train)

4457

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [81]:
x_train_count = cv.fit_transform(X_train)

In [82]:
len(x_train_count.toarray()[0])  #### Here is 7668 unique world in X_Train set

7750

In [83]:
x_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [84]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [85]:
model.fit(x_train_count,y_train)

MultinomialNB()

In [86]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = cv.transform(emails)

In [87]:
model.predict(emails_count)

array([0, 1], dtype=uint8)

In [88]:
counts = cv.transform(X_test)

In [92]:
y=0
for x in model.predict(counts):
    y+=x
print(y)

144

In [93]:
y=0
for x in y_test:
    y+=x
print(y)

151

In [96]:
model.score(counts,y_test)

0.9847533632286996

# PipeLine

In [98]:
from sklearn.pipeline import Pipeline

pl = Pipeline([
    ('cv' , CountVectorizer()),
    ('model' , MultinomialNB())
    ])

In [99]:
pl.fit(X_train,y_train)

Pipeline(steps=[('cv', CountVectorizer()), ('model', MultinomialNB())])

In [102]:
pl.predict(X_test).sum()

144

In [103]:
y_test.sum()

151

In [105]:
pl.score(X_test,y_test)

0.9847533632286996

In [107]:
pl.predict(emails)

array([0, 1], dtype=uint8)