In [1]:
import pandas as pd 
data = pd.read_csv('DataSet/titanic.csv')

In [3]:
data.head(3)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1

In [12]:
inputs = data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin',"Embarked",'Survived'],axis=1)

In [13]:
target = data.Survived

In [16]:
dummies = pd.get_dummies(inputs.Sex)

In [20]:
inputs = pd.concat([inputs,dummies],axis=1)

In [22]:
inputs.drop(['Sex'],axis=1,inplace=True)

In [30]:
inputs.isna().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [39]:
inputs['Age'].fillna(int(data['Age'].mean()),inplace=True)
inputs[:8]

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1
5       3  29.0   8.4583       0     1
6       1  54.0  51.8625       0     1
7       3   2.0  21.0750       0     1

In [48]:
# Prediction with Model GaussianNB

In [80]:
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(inputs,target,test_size=.2)

In [81]:
from sklearn.naive_bayes import GaussianNB

In [82]:
model = GaussianNB()

In [83]:
model.fit(X_train,y_train)

GaussianNB()

In [84]:
prediction = model.predict(X_test)

In [85]:
model.score(X_test,y_test)

0.8212290502793296

In [86]:
cnt=0
for x in y_test:
    if x==1:
        cnt+=1
print(cnt)

69

In [87]:
cnt=0
for x in prediction:
    if x==1:
        cnt+=1
print(cnt)

69

In [88]:
y_test[:10],prediction[:10]

(54     0
 649    1
 716    1
 840    0
 710    1
 145    0
 626    0
 412    1
 152    0
 715    0
 Name: Survived, dtype: int64,
 array([0, 1, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64))