In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
data = pd.read_csv('DataSet/salary.csv')

In [28]:
# data

In [29]:
inputs = data.drop('salary_more_then_100k',axis=1)

In [30]:
target = data['salary_more_then_100k']

In [31]:
# inputs
# target

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [34]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])

In [35]:
inputs['job_n'] = le_job.fit_transform(inputs['job'])

In [36]:
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [40]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [42]:
inputs_new = inputs.drop(['company','job','degree'],axis=1)

In [44]:
inputs_new.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [45]:
from sklearn import tree

In [46]:
model = tree.DecisionTreeClassifier()

In [48]:
model.fit(inputs_new,target)

DecisionTreeClassifier()

In [49]:
model.score(inputs_new,target)

1.0

In [52]:
model.predict([[2,2,1]])

array([0], dtype=int64)