In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [27]:
data.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no

In [118]:
data = pd.read_csv('bank.csv',sep=';')
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [119]:
data.dropna()
data.drop(data.columns[[0,4,8,9,10,11,12,13,14,15]],axis=1,inplace=True)
data.columns

Index(['job', 'marital', 'education', 'balance', 'housing', 'loan', 'y'], dtype='object')

In [120]:
data=pd.get_dummies(data, columns = ['job','marital','education','housing','loan'])
data.columns

Index(['balance', 'y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'housing_no', 'housing_yes', 'loan_no',
       'loan_yes'],
      dtype='object')

In [121]:
data.drop(data.columns[[14,21]],inplace = True,axis = 1)
data.head(3)

,balance,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,job_unknown,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,housing_yes,loan_no,loan_yes
0,1787,no,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
1,4789,no,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,1
2,1350,no,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,1,1,0

In [122]:
X = data.iloc[:,2:].values
Y = data.iloc[:,1:2].values
Y

array([['no'],
       ['no'],
       ['no'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [132]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = .8)

# log = LogicalRegression()
# log.fit
X_test[0]

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0],
      dtype=uint8)

In [129]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression(solver='lbfgs',random_state=0)
log.fit(X_train,Y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [130]:
y_predict = log.predict(X_test)
print(y_)

In [136]:
print("accurecy {.2f}",format(log.score(X_test,Y_test)) )

accurecy {.2f} 0.8819463643903788